[tools]
go = "1.24.3"
"go:golang.org/x/pkgsite/cmd/pkgsite" = "latest"
golangci-lint = "2.8.0"

[tasks.clean-generated]
run = "rm -f *.g.go"

[tasks.generate]
description = "Run go code generators"
depends = ['clean-generated']
run = [
  "go generate ./mapping/map.go",
]

[tasks.format]
description = "Apply code formatting"
run = "golangci-lint fmt ."

[tasks.lint]
run = "golangci-lint run"

[tasks.get]
description = "Fetch dependencies"
run = "go get -t"

[tasks.test]
description = "Run tests"
run = "go test -v"

[tasks.doc-preview]
run = "pkgsite"
