[tools]
go = "1.24"
golangci-lint = "2.8.0"
gotestsum = "latest"
pkgsite = "latest"

[tool_alias]
pkgsite = "go:golang.org/x/pkgsite/cmd/pkgsite"

[tasks.clean-generated]
run = "rm -f *.g.go"

[tasks.generate]
description = "Run go code generators"
depends = ['clean-generated']
run = [
  "go generate ./mapping/map.go",
]

[tasks.format]
description = "Apply code formatting"
run = "golangci-lint fmt ."

[tasks.lint]
run = "golangci-lint run"

[tasks.get]
description = "Fetch dependencies"
run = "go get -t"

[tasks.test]
description = "Run tests"
run = "gotestsum -f dots-v2 ./..."

[tasks.doc-preview]
run = "pkgsite"
